:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: "Lexend Deca", sans-serif;
}

h3 {
  font-family: "Big Shoulders Display", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

p {
  font-size: 15px;
  line-height: 1.6;
}

.sedans {
  background-color: var(--bright-orange);
  color: white;
  border-radius: 10px 10px 0 0;
}

.sedans .button {
  color: var(--bright-orange);
}

.suvs {
  background-color: var(--dark-cyan);
  color: white;
}

.suvs .button {
  color: var(--dark-cyan);
}

.luxury {
  background-color: var(--very-dark-cyan);
  color: white;
  border-radius: 0 0 10px 10px;
}

.luxury .button {
  color: var(--very-dark-cyan);
}

.cars {
  padding: 20px;
}

.cars img {
  margin-bottom: 25px;
}

.cars h3 {
  margin-bottom: 20px;
}



.button {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: Transparent;
  color: #fff;
}

.card {
  padding: 30px;

}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 992px) {
  .cars{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
  }
  .sedans {
    border-radius: 10px 0 0 10px;
  }
  .luxury {
    border-radius: 0 10px 10px 0;
  }
  .card{
    padding: 45px;
  }
  .card p {
    margin-bottom: 50px;
  }
  .

}
